.feed_box {
  border-radius: 8px;
  border: 1px solid rgb(227, 229, 232);
  overflow: hidden;
  height: 853px;
  display: flex;
  flex-direction: column;
}

.row_top {
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 12px;
}

.header_item {
  font-size: 16.8px;
  color: rgba(8, 8, 8, 0.5);
  font-weight: 800;
}
