.btn {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.9511cab7.png);
  background-size: 451px 429px;
  background-repeat: no-repeat;
  position: relative;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
