body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -0.4px;
  font-weight: 500;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
